body,html{
	height:100%;
	padding:0px;
	margin:0px;
	background: url(../img/fondo.png) no-repeat center center fixed;
	background-size: cover;
}
body{
	font-size:3vw
}
.b{
	width:20%;
}
.a, .c{
	width:40%;
}
.a,.b,.c{
	display:inline-block;
	height:100%;
	float:left;
}
.d{
	height: 15%;
    width: 60%;
    position: fixed;
    bottom: 0px;
    left: 20%;
}
#nave{
	text-align:center;
	top:5%;
	width:100%;
	height:20%;
	z-index:1;
	position: absolute;
}
#nave img{
	height:100%;
}
#cpanel{
	width: 30%;
	margin: 5%;
	text-align: center;
	height: 40%;
}
#cpanel{
	list-style: none;
	font-size: 25px;
}
#cpanel{
	text-align: center;
}
#menu{
	list-style: none;
	font-size: 25px;
	z-index: 2;
	position: absolute;
	width: 50%;
}
#menu li{
    background-color: orange;
}
#cpanel li{
	display: inline;
	background-color: orange;
}
#menu li.li_desktop{
	float: left;
	margin: 2%;
	padding: 0.5%;
}
#menu li.li_mobile{
	display: none;
	float: left;
	margin: 2%;
}
#menu li a{
    background-color: orange;
    text-decoration: none;
    display: inline-block;
    float: left;
}
.boton_izquierda{
	margin-top: 20%;
	width:100%;
	background-color: orange;
}
.boton_derecha{
	width: 30%;
}
#luna{
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	position: fixed;
	height: 20%;
}
#nave_mobile{
	display: none;
}
h3{
	font-weight: bold;
	background-color:orange;
	height: 50%;
	width: 50%;
	margin: 5% auto 5% auto;
	border-radius: 5%;
	padding: 1%;
	text-align:center;
}
p{
	background-color:orange;
	height: 50%;
	width: 50%;
	margin: auto;
	border-radius: 1%;
	padding: 2%;
}