body,html{
	height:100%;
	padding:0px;
	margin:0px;
	background: url(../img/fondo.png) no-repeat center center fixed;
	background-size: cover;
}
body{
	font-size:3vw
}
h3{
	font-weight: bold;
	background-color:orange;
	height: 50%;
	width: 50%;
	margin: 5% auto 5% auto;
	border-radius: 5%;
	padding: 1%;
	text-align:center;
}
p{
	background-color:orange;
	height: 50%;
	width: 50%;
	margin: auto;
	border-radius: 1%;
	padding: 2%;
	font-size: 20px;
}