body,html{
	height:100%;
	padding:0px;
	margin:0px
}
.a{
	background-color:blue;
}
.b{
	background-color:red;
}
.c{
	background-color:green;
}
.a,.b,.c{
	display:inline-block;
	width:33.33%;
	min-height:100%;
	text-align:center;
}
.d{
	background-color:pink;
	height:90px;
	width:100%;
	position:absolute;
	bottom:0px;
	text-align:center;
}
